.adv-main-container{
    position: fixed;
    top: 14%;
    left: 20%;
    height: 70vh;
    width: 60vw;
    color: white;
    background-color: #353736;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}
.adv-container{
    margin: 4%;
}

 .adv-h2{
    font-size: 2.5em;
    margin: 0 0 5% 4%;
}

.adv-ulist{
    display: grid;
    gap: 15px;
    margin: 6%;
    list-style: none;
    font-size: 2.0rem;
} 

.advantage-arrow-icon-right{
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
  }
  .advantage-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
  }