.table-bg{
  display: flex;
}
.table-container{
  position: fixed;
  top: 14%;
  left: 7%;
  height: 70vh;
  width: 50vw;
  color: black;
  padding: 15px;
  border-radius: 10px;
}
.table-list-item{
  margin: 0 0 3% 2%;
  font-size: 2.0rem;
}
.img{
  position: fixed;
  right: 5%;
  top: 27%;
  width: 35%;
  height: 62%;
}

.table-h2{
  font-size: 2.5em;
  margin: 0 0 7% 4%;
}



.content-arrow-icon-right{
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333232;
  }

  .content-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333232;
  }