
.table-of-contents {
  position: relative;
  top: 10%;
  height: 70%;
  color: white;
    background-color: #155347;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 6% 7%;
    border-radius: 5px;
  }
  
  .table-of-contents h2 {
    position: relative;
    left: 37%;
    font-size: 2.5em;
    margin-bottom: 5%;
  }
  
  .content-arrow-icon-right{
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #155347;
  }
  .content-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #155347;
  }

  .table-list{
    display: grid;
   
  }
  
  
  
  .table-of-contents a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .table-of-contents a:hover {
    color: #007bff; 
  }
  .table-container{
    display: flex;
    justify-content: space-around;
  }
  .table-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }