.dis-main-container{
    padding: 5px;
    margin: 4% 9%;
    height: 80vh;
    width: 80vw;
    background-color: #155347;
    color: white;
}
.dis-container{
    margin: 4%;
}

.dis-ulist{
    display: grid;
    gap: 15px;
    margin: 3%;
    text-align: center;
    list-style: none;
    font-size: 20px;
} 

.dis-arrow-icon-right{
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #155347;;
  }
  .dis-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #155347;;
  }