.footer{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    height: 6%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
}