.hero-container{
    position: fixed;
    top: 14%;
    left: 7%;
    height: 70vh;
    width: 50vw;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

.hero-h2{
    font-size: 2.5em;
    margin: 0 0 7% 0;
  }
.container{
    margin: 0 0 0 6%;
}
.para{
    width: 90%;
    margin-bottom: 5%;
    font-size: 2.0rem;
}

.ulist {
    display: grid;
    gap: 15px;
    margin: 3%;
    text-align: center;
    list-style: none;
    font-size: 20px;
}
.hero-arrow-icon-right{
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333232;;
  }
  .hero-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333232;;
  }