.ref-main-container{
  padding: 5px;
  margin: 4% 9%;
  height: 80vh;
  width: 80vw;
  background-color: #155347;
  color: white;
}
.ref-container{
    margin: 4% 10%;
}


  .ref-arrow-icon-left{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #155347;;
  }